@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    background-color: #F7F7F7;
}
.prettyTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Space between tables if multiple */
  }
  
  .prettyTable th, .prettyTable td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .prettyTable th {
    background-color: #f2f2f2;
  }
  